nav ul li{
    display: inline;
    padding: 80px;
}
nav ul li a{
    color:aqua;
    text-decoration:none;
}
h1{
    text-align: center;
    color:aliceblue;
    padding:15px;
}
header{
    background-color:coral;
}
body{
    background-color:blanchedalmond;
}
#home{
    text-align:center;

}
img{

    border-radius:80px;
}
#bio{
    text-size-adjust: 12px;
    text-align: center;
}
#portfolio{
    text-align: center;
    padding: 15px;
    background-color:lightcoral;
    border-radius: 80px;
}
#skills{
    
    text-align: center;
    display: inline;
    padding: 50px;

}
#contact{
    text-align: center;
}
footer{
    text-align: center;
    color:thistle;
    background-color:black;
    padding: 250px;
    padding: 20px;
}